/* ==============================
  Mixins custom pour Cyrano style
=================================*/
/**
Inclusion des polices en css3
 */
@font-face {
    font-family : "Arista";
    src: url(../typos/Arista2.0_light.eot); /* IE */
    src: local("Arista"), url(../typos/Arista2.0_light.ttf) format('truetype');/* non-IE */
}
/*-------------------------------------------------
*********  COULEURS *****************/
$gris-anthracite : #606070;
$vert : #ADC91F;
$violet: #911381;
$orange : #F29400;
$bleu-turquoise: #01ABCF;
$rouge : #E3001C;
$rose-fushia : #E3001C;
$jaune : #FAEB0C;

/*------- EFFETS VISUELS GENERIQUES--------------*/
@mixin ombrage {
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    }
@mixin ombrage-bas {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
    }
@mixin table-tr-ombrage-bas {
        -moz-box-shadow: 1px 2px 2px #aaa;
        -webkit-box-shadow: 1px 2px 2px #aaa;
        box-shadow: 1px 2px 2px #555;
    }
@mixin ombrage-bloc {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
    }
@mixin ombrage-bas-table-actu{
         -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}